.container {
  padding: 5%;
}

.container h1{
  text-align: center;
}

.container_card{
  display:flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}